<jhi-page-ribbon></jhi-page-ribbon>

<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid home">

    <div class="triangles">
        <div class="card jh-card no-bg">
            <router-outlet></router-outlet>
        </div>
    </div>


    <!-- <jhi-footer></jhi-footer> -->
</div>