@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
// @import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

html {
    height: 100%;
}

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
    background-color: #F8F9FB;
}

a:hover {
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

.dropdown-item:hover {
    color: $dropdown-link-hover-color;
}

.card {
    background-color: #F8F9FB;
}

.triangles {
    background-image: url('../images/logIn/triangulos-grises.svg'), url('../images/logIn/lineas-triangulos.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 50%, 50%;
    background-position-y: 10em, 19em;
    background-position-x: -13em;
}

.home {
    height: 907.5px;
    margin: 0;
    padding: 0;
}


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
Generic styles
========================================================================== */


/* other generic styles */

.no-bg {
    background-color: transparent;
}

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

.modal-backdrop {
    background-color: transparent;
}

.modal-dialog {
    margin: 13.75rem auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: none
    /* border-radius: 0.3rem; */
    /* outline: 0;*/
}


/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .jhi-toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .jhi-toast {
        width: 50%;
    }
}


/* ==========================================================================
entity detail page css
========================================================================== */

.row.jh-entity-details> {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details> {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}


/* ==========================================================================
ui bootstrap tweaks
========================================================================== */

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* jhipster-needle-scss-add-main JHipster will add new css style */