@import '~bootstrap/scss/functions';
// @import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';
//
.modal-header {
    border: none;
}

.yellow {
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.no-lines {
    border-radius: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}